<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vector transports-Delete document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-3 mb-1 text-center ml-5">
        <img src="/images/trucklogo.jpg" width="200" alt="trucklogo">
    </div>
    <% if(typeof data !== 'undefined'){ %>
        <div class="container mt-2">
            <div class="bg-dark text-light text-center">
                <div class="data">
                    document ID:
                    <%= data._id %>
                </div>
                <div class="data">
                    डाक्यूमेंट कब बनाया गया:
                    <%= data.createdAt %>
                </div>
                <div class="data">
                    ट्रीप कब शुरू हुई:
                    <%= data.dateStarted %>
                </div>
                <div class="data">
                    ट्रीप कहाँ से शुरू हुई:
                    <%= data.origin %>
                </div>
                <div class="data">
                    ट्रीप कहाँ समाप्त हुई:
                    <%= data.destination %>
                </div>
                <div class="data">
                    ड्राइवर:
                    <%= data.driver %>
                </div>
                <div class="data">
                    कस्टमर:
                    <%= data.client %>
                </div>
                <div class="data">
                    ट्रीप कब समाप्त हुई:
                    <%= data.dateEnd %>
                </div>
            </div>
        </div>
        <form class="text-center" action="/<%= data._id %>?_method=DELETE" method="POST">
            <h4 class="mt-3 mb-1">क्या आप इसे डिलीट करना चाहते हैं?</h4>
            <button class="btn btn-danger" type="submit">डिलीट</button>
        </form>
        <% } %>
</body>

</html>