<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neoGrapht</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container {
            padding: 15px 0px 15px 15px;
        }
    </style>
</head>

<body>
    <div class="d-flex text-center align-center justify-content-center">
        <div class="mb-2 mt-2 d-flex justify-content-center"><a href="/new"><button class="btn bg-dark text-light" >Create new</button></a></div>
        <form class="ml-2 mt-2 " action="/logout" method="POST">
            <button type="submit" class="btn btn-primary">
            Logout
          </button>
        </form>
    </div>


    <% if(typeof data !== "undefined"){ %>

        <% Array.from(data).forEach((item)=>{ %>

            <div class="container d-flex flex-column bg-dark text-light" style="border: 1px solid black">
                <div class="item">
                    ID:
                    <%= item._id %>
                </div>
                <div class="item">
                    created on:
                    <%= item.createdAt %>
                </div>
                <div class="item">
                    date started:
                    <%= item.dateStarted %>
                </div>
                <div class="item">
                    origin:
                    <%= item.origin %>
                </div>
                <div class="item">
                    destination:
                    <%= item.destination %>
                </div>
                <div class="item">
                    driver:
                    <%= item.driver %>
                </div>
                <div class="item">
                    client:
                    <%= item.client %>
                </div>
                <div class="item">
                    ends:
                    <%= item.dateEnd %>
                </div>
                <div class="item">
                    createdBy:
                    <%= item.createdBy %>
                </div>
                <div class="align-items-center">
                    <a class="mr-auto" href="/edit/<%= item._id %>"><button class="text-light btn-sm btn bg-secondary">Edit</button></a>
                    <a class="mr-auto ml-3" href="/delete/<%= item._id %>"><button class="text-light btn-sm btn bg-danger" >Delete</button></a></div>
            </div>
            <% }) %>

                <% } %>
</body>

</html>